# NumPy, Pandas 복습

### NumPy 실습 문제


문제 1.

길이가 10인 0-벡터(모든 요소가 0인)를 만드세요.

 문제 2.

길이가 10이며 다섯번째 원소만 1이고 나머지 원소는 모두 0인 벡터를 만드세요.

문제 3.

10 부터 49까지의 값을 가지는 벡터를 만드세요.

문제 4.

위 벡터의 순서를 바꾸세요.

문제 5.

0부터 8까지의 값을 가지는 3x3 행렬을 만드세요.

문제 6.

벡터 [1,2,0,0,4,0] 에서 원소의 값이 0이 아닌 원소만 선택한 벡터를 만드세요.

문제 7.

3x3 단위 행렬(identity matrix, 주대각선의 원소가 모두 1이며 나머지 원소는 모두 0인)을 만드세요

문제 8.

난수 원소를 가지는 3x3 행렬을 만드세요

문제 9.

위에서 만든 난수 행렬에서 최대값/최소값 원소를 찾으세요.

문제 10.

위에서 만든 난수 행렬에서 행 평균, 열 평균을 계산하세요.

# Pandas 실습문제

다음의 코드를 실행하여 샘플 데이터를 생성하시오.

seaborn 패키지에 있는 타이타닉 데이터를 사용하여 실습한다. 필요한 데이터를 로드한다.

In [7]:
import pandas as pd
titanic = pd.read_csv("../data/titanic.csv")

titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

문제 1. 

타이타닉호 승객중 성별(sex) 인원수, 나이별(age) 인원수, 선실별(class) 인원수, 사망/생존(alive) 인원수를 구하라. (힌트. value_counts 메소드)

문제 2.

성별(sex) 및 선실(class)에 의한 생존율을 피봇 데이터 형태로 만들어 표시하시오.(힌트. pivot_table)

문제 3. 

'age' 컬럼의 null 값을 'age'의 median 값으로 대체하시오.(fillna 사용)

문제 4.

가장 고액의 운임(fare)를 지불한 승객에 대한 정보를 출력하시오.

문제 5.

승객의 나이('age')의 평균을 구하시오.

문제 6. 

'embark_town' 이 'Queenstown' 이면서 생존한 남성 승객에 대한 정보를 출력하시오.